@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Praise&display=swap');

body{
	font-family: 'Fredoka', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}

/*----------bootstrap-navbar-css------------*/

/* TEXTO DE TITULO */
.navbar-logo{
	font-size: 30px;
	font-weight: 600;
	padding: 5px;

	color: #fff;
}

/* TITULO CAMBIA A NEGRO SI SE LE PASA EL MOUSE POR ENCIMA */
.navbar-logo:hover {
	color: #ff4f00;
}

/* FONDO DEL NAV */
.navbar-mainbg{
	padding: 0px;

	background: linear-gradient(to right, #000 20%, #ff4f00);
}

/* OCULTAR EL SCROLL DEL NAV */
#navbarSupportedContent{
	position: relative;
	overflow: hidden;
}

/* QUITAR EL MARGIN Y EL PADDING DE LAS VIÑETAS */
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}

/* ICONOS AL LADO IZQUIERDO DE CADA TEXTO */
#navbarSupportedContent ul li a i{
	margin-right: 5px;
}

/* LISTA / RESET DE DISEÑO Y FLOAT */
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}

/* TEXTO DE CADA SECCION */
#navbarSupportedContent ul li a{
    display: block;
    position: relative;
    text-decoration: none;

    font-size: 15px;
    padding: 20px 20px;

	color: #fff;

	/* cambiar el color de las letras, transparente a blanco*/
	animation-name: color-change;
	animation-duration: 1.2s;
}

/* ANIMACION DE LA LETRA [pasa de transparente a blanco] */
@keyframes color-change {
	from {
		color: transparent;
	}

	50% {
		color: transparent;
	}

	to {
		color: #fff;
	}
}

/* COLOR DEL TEXTO DEL SELECTOR */
#navbarSupportedContent>ul>li.active>a{
	color: #ff4f00 !important; 
	background-color: transparent;
}

/* NI IDEA QUE SEA ESTO, PERO NO LE JUEGUES AL VERGAS*/
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}

/* FONDO PRINCIPAL DEL SELECTOR BLANCO */
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 110%;
	transition-delay: 0.2s;
	transition-duration: 0.4s;
	background-color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-top: 10px;
}

/* BORDES REDONDEADOS DEL SELECTOR */
.hori-selector .left{
	position: absolute;
	width: 0;
     height: 0;
     border-left: 25px solid transparent;
     border-top: 25px solid transparent;
     border-right: 25px solid transparent;
     border-bottom: 50px solid #fff;
	bottom: 10px;
}
.hori-selector .left{ /*mover a la izquierda*/
	left: -25px;
}















/* R E S P O N S I V E */
@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
		animation-duration: 1s;
	}
	.hori-selector{
		transition-delay: 0.1s;
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left{
		right: 10px;
	}
	.hori-selector .left{
		border-bottom: 50px solid transparent;
		top: -25px;
		left: auto;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
}